doctype html 
html(lang="en")
  head
    title BOJ DAILY
    //-link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    main 
      block content
    footer &copy; #{new Date().getFullYear()} BOJ DAILY