header 
  h1 DAILY ALL-SOL
  nav
    ul
      li 
        a(href="/") Home
      if loggedIn 
        li 
          a(href=`/problems/${loggedInUser}`) Level&Tag
        li 
          a(href=`/users/${loggedInUser}`) #{loggedInUser}
        li 
          a(href="/logout") Logout
      else
        li
          a(href="/join") Join
        li 
          a(href="/login") Login